<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/boggle.css">
    <title>Boggle!</title>
</head>
<body>
    <section id="boggle">
        <table class="board">
            <tbody>
                {% for row in board %}
                <tr>
                    {% for char in row %}
                    <td>{{char}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>High Score: 
            <b>{{ highscore }}</b> 
            in {{ nplays }} plays
        </p>
        
        <p>
            Score: <b class="score">0</b>
            Time Left: <b class="timer"></b>
        </p>
    
        <h2>Submit A Word:</h2>
        <form method="POST" class="add-word">
            <input type="text" class="word" name="word" placeholder="Enter your guess" autofocus>
            <button>Submit</button>
        </form>

        <p class="msg">

        </p>

        <ul class="words">

        </ul>
    </section>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
    <script>
        let game = new BoggleGame("boggle", 60);
      </script>
</body>
</html>